{{>header}}

  <div id="content">

    <h2 class="intro">Privacy Policy</h2>

    <p>We are committed to protecting your privacy. 
    This policy describes our practices regarding personal and 
    account information collected through our web site. </p>

    <p>We will periodically review the appropriateness of this privacy policy and
    may make, in our discretion, such changes as are necessary. If we decide to
    change this privacy policy, we will post those changes here so that you will
    always know what information we gather, how we might use that information, and
    whether we will disclose it to anyone. You should visit our web site
    periodically to review any changes.</p>

    <h3>Do we use the secret data for any other purpose?</h3>
    <p>No. We do not analyze or look at the secrets in any manual or automated way.</p>

    <h3>How safe is this tool?</h3>
    <p>We feel that this tool is definitely safer than using email or chat tools to send
    private information. However, it is not a strong encryption tool (like PGP) and is NOT designed 
    for PHI/HIPAA data transmittal. <b>This service cannot be used for Protected Health Information.</b></p>

    <h3>What personal and account information do we collect?</h3>
    <p>The amount and type of personal and account information we collect from you
    depends on your activities and use of our web site. Below, we explain what
    information we collect under specific contexts.</p>

    <h3>What measures do we use to protect your personal information?</h3>

    <ul>
      <li>We use secure, encrypted mechanisms (SSL) when accepting and transmitting information.</li>
      <li>We regularly perform security audits and updates on our servers.</li>
      <li>We do not provide third parties any access to any data collected or stored, to the extend allowed by local and federal laws.</li>
    </ul>

    <h3>When you browse our web site</h3>

    <ul>
      <li><strong>IP address</strong> - We collect your IP address to measure our web site traffic and to help prevent malicious use. These logs can NOT associate you with any particular account or secret and are kept only as long as is operationally necessary.</li>
      <li><strong>Analytics</strong> - We do NOT utilize any first- or third-party analytics, tracking, or statistics services or tools.</li>
      <li><strong>Browser and platform</strong> - We do NOT collect information about the browser you are using or any system information beyond the aforementioned IP address..</li>
      <li><strong>Usage Activity</strong> - We keep a statistical record of how many overall secrets have been generated on the service. We do not link this activity to any identifiable information for anonymous users (registered users see below).</li>
    </ul>

    <h3>When you use the service as a registered user:</h3>
    <ul>
      <li><strong>Email address</strong> - we keep your email address in our database along with your encrypted password to allow login functionality. It is not used for any other purpose than account management.</li>
      <li><strong>Activity</strong> - Your user account is associated with secrets in one of two ways, depending on the status of the secret:</li>
      <ul>
      <li><strong>Active secrets</strong> - Your account is linked to the active secret to allow you to burn (delete) the secret or see if it has been viewed.</li>
      <li><strong>Burned secrets</strong> - Statistical metadata, including the number of secrets you have created and an activity summary of each secret, is linked to your account for your personal information only. Secrets cannot be viewed, modified, tampered with, or retrieved from this history log.</li>
      </ul>
      <li>We do not maintain access to your data or secrets and cannot alter, view, or delete your history log.</li>
     </ul>
  </div>

{{>footer}}
