{{>header}}

  {{^actionable_visitor}}
  <div class="jumbotron">
    <h2 class="intro">Return to <a href="{{subdomain.homepage}}">{{subdomain.company_domain}}</a></h2>
  </div>
  {{/actionable_visitor}}

  {{#actionable_visitor}}
  <div class="jumbotron">

    {{^authenticated}}
    <h1 class="">{{i18n.page.tagline1}}</h1>
    <p class="lead">{{i18n.page.tagline2}}</p>
    {{/authenticated}}

    {{>partial/create_secret_form}}

    {{^authenticated}}
    <hr/>
    <p class="hint">{{i18n.page.secret_hint}}</p>
    <p class="more">{{i18n.page.secret_form_more_text1}} <a href='/signup'>{{i18n.page.secret_form_more_text2}}</a> {{i18n.page.secret_form_more_text3}}</p>
    {{/authenticated}}

<div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Health Users:</strong> This tool is <strong>not</strong> HIPAA certified and is not to be used for Protected Health Information [<a href='/info/security'>Security Policy</a>]
    </div>

  </div>

  <!--
  <div class="row-fluid marketing">
    <div class="span4">
      <h4>Screencast</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>

    <div class="span4">
      <h4>Get the App</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>

    <div class="span4">
      <h4>F.A.Q.</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
  </div>
  -->
  {{/actionable_visitor}}

{{>footer}}
